@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(148 163 184);
}

h1, h2, h3, h4, h5, h6 { 
  color: rgb(226 232 240);
}

/* Custom CSS for navigation link animations */
.nav-link {
  position: relative;
  display: inline-block;
  padding-left: 0.5rem;
  transition: padding-left 0.3s ease;
}

.nav-link::before {
  content: '';
  position: absolute;
  top: 0; /* Position the line to the left, starting at the top */
  left: 0; /* Align it to the left of the link */
  height: 100%; /* Make the line full height */
  width: 2px; /* Set the width of the line */
  background-color: #FFFFFF; /* Use your desired color */
  transform: scaleY(0); /* Initially scale to zero vertically */
  transform-origin: top; /* Animate from the top down */
  transition: transform 0.3s ease, padding-left 0.3s ease;
}

.nav-link:hover {
  padding-left: 1rem;
}

/* Hover and active state */
.nav-link:hover::before,
.nav-link.active::before {
  transform: scaleY(1); /* Scale the line fully when active or hovered */
}

.nav-link.active {
  padding-left: 1rem;
}

